footer.d-flex.justify-content-around {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 6px #888888;
    height: 56px;
    z-index: 1;
}

footer.d-flex.justify-content-around div{
    color: rgba(255, 255, 255, .5);
}
